@model WebApplication2.Models.TBLUserInfo

@{
    ViewBag.Title = "Employee home Page";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    </div>
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>

<div class="navbar-collapse collapse">

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Task Report", "Index", "Task_Report")</li>
            <li>@Html.ActionLink("Leave Request", "Create", "Leave_Request")</li>
        </ul>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
