@model WebApplication2.Models.Admin

@{
    ViewBag.Title = "Registration";
}

<h3 style="color:lightseagreen;">Welcome to the Registration/Password Updation Page! </h3>
<h4 style="color:darkorange;">Please register employee to continue/Update password</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    </div>
}


<div class="navbar-collapse collapse">

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Employee Register", "Signupe", "Home")</li>
            <li>@Html.ActionLink("Admin Password Update", "Passupd", "Home")</li>
        </ul>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
