@model WebApplication2.Models.Admin

@{
    ViewBag.Title = "Admin Home Page";
}

<h4 style="color:lightseagreen"> Welcome to Admin Home Page! Please select the suitable task to perform.
    Admin can create, View Employee details and also view task reports created by 
    employees and can view leave requests sent by employees which can approved/rejected.</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    </div>
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="float:right !important">
                <li><p style="color:#fff;margin-top:15px;">Hello @Session["UserNameSS"]</p></li>
                <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
            </ul>
        </div>
    </div>
</div>

<div class="navbar-collapse collapse">

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Create Employee", "Index", "InsertEmployee")</li>
            <li>@Html.ActionLink("View Employee", "Index", "EmployeeInsert")</li>
            <li>@Html.ActionLink("View Task Report", "Index2", "Task_Report")</li>
            <li>@Html.ActionLink("View Leave Requests", "Index2", "Leave_Request")</li>
        </ul>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
