@model WebApplication2.Models.TBLUserInfo

@{
    ViewBag.Title = "Admin Password update";
}

<h2>Admin password update</h2>

@using (Html.BeginForm("Passupd","Home",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<table class="center-block" style="padding:15px;">
    <tr class="row">
        <td>
            Username
        </td>
        <td style="padding:15px;">
            @Html.EditorFor(x => x.UserNameUs)
        </td>
        <td>
            @Html.ValidationMessageFor(x => x.UserNameUs)

        </td>
    </tr>
    <tr class="row">
        <td>
            Old Password
        </td>
        <td style="padding:15px;">
            @Html.EditorFor(x => x.PasswordUs)
        </td>
        <td>
            @Html.ValidationMessageFor(x => x.PasswordUs)

        </td>
    </tr>
    <tr class="row">
        <td>
            New Password
        </td>
        <td style="padding:15px;">
            @Html.EditorFor(x => x.NewPasswordUs)
        </td>
        <td>
            @Html.ValidationMessageFor(x => x.NewPasswordUs)
        </td>
    </tr>
    <tr class="row">
        <td colspan="3" id="button" style="padding:15px;">
            <input type="submit" value="change" />
        </td>
    </tr>
    <tr class="row">
        <td colspan="3">
            @ViewBag.Message
        </td>
    </tr>

</table>
}

