@model WebApplication2.Models.Admin

@{
    ViewBag.Title = "Passupd";
}

@if (TempData["message"] != null)
{
    <script>
        alert('@TempData["message"]');
        window.location.href = "https://localhost:44327/Home/Login";
    </script>

}
<h2>Password Update admin</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.IdUs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdUs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdUs, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Old Password</label>
            <div class="col-md-10">
                <input type="password" name="@Html.NameFor(model=>model.PasswordUs)" value="@ViewBag.msg1" class="form-control"/>
                @Html.ValidationMessageFor(model => model.PasswordUs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPasswordUs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" name="@Html.NameFor(model=>model.NewPasswordUs)" value="@ViewBag.msg2" class="form-control" />
                @Html.ValidationMessageFor(model => model.NewPasswordUs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReNewPasswordUs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" name="@Html.NameFor(model=>model.ReNewPasswordUs)" value="@ViewBag.msg3" class="form-control" />
                @Html.ValidationMessageFor(model => model.ReNewPasswordUs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label style="color:red">@ViewBag.Message1</label>
                <label style="color:green">@ViewBag.Message</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update Password" style="background-color:#024488;width:10em;height:3em;color:#fff;" class="btn btn-default" />
            </div>
        </div>
    </div>
}

